<!DOCTYPE html>
<html>
<head>
  <title>Accounting</title>
  <%= stylesheet_link_tag    "accounting/application", media: "all" %>
  <%= javascript_include_tag "accounting/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
